body {
  font-size: 1.2em;
}
#list1, #list2 {
  float: left;
}
#list2 {
  margin-left: 40px;
}

.error {
  color: red;
}
ul {
    list-style-type: none;
}
table {
    width: 100%;
}
tr {
    width:100%;
}
td {
    width: 50%;
}
h3,h1 {
    text-align: center;
    justify-content:center;
}

span.reverse {
    font-weight: bold;
    font-size:1.1em;
    color:white;
    background: black;
    text-align:center;
}